{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
{% if messages %}
<div id="error-messages">
<ul>
    {% for field in messages  %}
        
            <li> {{field}}</li>
    {%endfor%}
</ul>
</div>
{% endif %}


<form action="{% url 'login:loginPage' %}" method = "post" id="form-design">
    <h3>LOGIN HERE</h3>
    {% csrf_token %}
    <h5>{{form.username.label}}</h5>
    {{form.username}}
    <h5>{{form.password.label}}</h5>
    {{form.password}}
    {% if request.GET.next %}
    <input type="hidden" name= "nxt" value = "{{request.GET.next}}">
    {% endif %}


<button>LOGIN</button>
<p id="asking"> Not a user
    <a href=" {% url 'login:registerUser' %} "> Register here</a>
</p>
</form>


{% endblock content %}


