{% extends 'base.html' %}

{% block title %}
Order Page
{% endblock title %}

{% block content %}
{% if messages %}
<div id="success-messages">
<ul>
    {% for message in messages  %}
    <li> {{message}}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
<header> 
    <form action={% url "login:ordersHistory" %} method = "post">
        {% csrf_token %}
        <button type="submit" id="sub-btn">Order History</button>
    </form >
</header>
<form action="{% url 'login:orders' %}" method = "post" >
    
        {% csrf_token %}

        <div id="cart">
        {% for product in products  %}
            <div id = "cart-item">    
                

                
                    <img src="{{product.image.url}}" alt="">
                <h3>
                    {{product}} 
                </h3>
                <p>
                    {{product.product_type}} 
                </p>
                <p>
                    {{product.price}}
                </p>
                <div id="product-checkbox">
                    <input type="checkbox" name="chk[]" value = "{{product.product_id}}">
                </div>
                <input type="number" name="{{product.product_id}}" >
            </div> 
        {%endfor%}
            </div>


    

    <button type="submit">Place Order</button>

</form>
<form method="post" action="{% url "login:logOut" %}">
    {% csrf_token %}
   
    <button type="submit" > LOGOUT</button>
   
</form>
{% endblock content %}
