{% extends "base.html" %}

{% block title %}
Order Page
{% endblock title %}

{% block content %}
{% if messages %}
<ul>
    {% for message in messages  %}
    <li> {{message}}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'login:orders' %}" method = "post" >
    <ul>
        {% csrf_token %}
        {% for product in products  %}
    
        <li> 

            <label >
               
                <p> Enter product quantity: 
                    <input type="number" name="{{product.product_id}}" >
                </p>
                <input type="checkbox" name="chk[]" value = "{{product.product_id}}">
            <p>{{product}}</p>
            <p><img src="{{product.image.url}}" alt=""></p>
            </label>
        </li>
    
        {% endfor %}
    </ul>
  
    <button type="submit">SUBMIT</button>

</form>
<form method="post" action="{% url "login:logOut" %}">
    {% csrf_token %}
   
    <button type="submit" > LOGOUT</button>
   
</form>
{% endblock content %}
