{% extends "base.html" %}
{% block title %}
Order History
{% endblock title %}
{% block content %}
<label > Select product type:
<form action= {% url "login:ordersHistory" %}  method ="post">
    {% csrf_token %}

    <select name="selected_type" >
    <option value=""  selected> None</option>
{% for product in product_type %}

<option value={{product}} {% if product == selected_type %} selected{% endif %}> {{product}}</option>
{% endfor %}
</select>
<button type="submit">Filter</button>
</form>

</label>

{% for group in order_groups %}

<h3> Order id: {{group.order_id}}</h3>
<table>
    <tr>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Total Price</th>

    </tr>
    {% for product in group.products_list %}
        <tr>            
            <td>{{product.product_id.product_name}}</td>
            <td>{{product.product_id.product_type}}</td>
            <td><img src="{{product.product_id.image.url}}" alt=""></td>
            <td>{{product.quantity}}</td>
    
            <td>
                {{group.total_price}}
            </td>
            
        </tr>

    {% endfor %}


</table>



{% endfor %}







{% endblock content %}




