{% extends "base.html" %}
{% block title %}
Order History
{% endblock title %}
{% block content %}
<label > Select product type:
<form action= {% url "login:ordersHistory" %}  method ="post">
    {% csrf_token %}

    <select name="selected_type" >
    <option value="" disabled {% if not request.POST.product_type %} selected{% endif %}  selected> Select one</option>
{% for product in product_type %}

<option value="{{product}}" {% if product == selected_type %} selected{% endif %}> {{product}}</option>
{% endfor %}
</select>
<button type="submit">Filter</button>
</form>

</label>

<table>
    <tr>
        <th> Product name</th>
        <th> Product type</th>
        <th> Image </th> 
    </tr>
{% for product in  products_list %}
    <tr>
        <td>
            {{product.product_name}}
        </td>
        <td>
            {{product.product_type}}
        </td>
      <td> 
    <img src="{{product.image.url}}" >
    </td> 

</tr>



{% endfor %}
</table>

{% endblock content %}




