{% extends "store/baseUser.html" %}
{% load static %}

{% block title %}


    Login Form

{% endblock title %}




{% block content %}

    <form method="post">  
        {% csrf_token %}

        {% for field in form %}
            <div class="form-fields">   
            
                {{field.label_tag}}
                {{field}}
            </div>

            
        
        {% endfor %}


    <button class="btn" type="submit"> 

        Login
        
    </button>  


    </form>

    <p class="extra-message"> Not a user.  <a href={% url 'register' %}> Register Here</a></p>

{% endblock content %}










